<header class="p-4 bg-cyan-300 rounded-lg"><!-- HEADER -->
	<nav class="p-1 bg-cyan-100 rounded-lg">
		<ul class="p-1 rounded-lg flex flex-column justify-between">
			<li class="rounded-lg">
				<a href="/home" class="pl-2 text-xl">Exemple.com</a> 
			</li>
			<li>
				{% if session['user_email']%}
				<a href="/404" class="pr-6">{{ session['user_email'] }}</a>
				<a href="/login/logout" class="pr-4">LogOut</a>
				{% else %}
				<a href="/login" class="pr-6">login</a>
				<a href="/register" class="pr-4">Register</a>
				{% endif %}
			</li>
		</ul>
	</nav>
	<div class="p-4">
		<h1> About us</h1>
		<div class="pt-2 text-xl">
			<a>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, asperiores sed consectetur saepe consequatur expedita nihil ipsum labore quos iusto veniam doloremque blanditiis aut dolorem officia iste perspiciatis facilis molestias.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eligendi corporis voluptate voluptatem cupiditate, consequuntur tenetur delectus in reprehenderit porro! Vel fuga, nobis soluta, quae aliquid eaque porro quod id!
			</a>
		</div>	
	</div>
</header><!-- .HEADER -->
